<%= form_tag sesionforos_path do %>
 <div class="field">
   <p><%= label_tag t :email  %> 
   <%= text_field_tag :email%></p>
 </div> 
 <div class="field"> 
  <p> <%= label_tag t :password  %> 
   <%= password_field_tag :password%></p>
 </div>
  <div class="actions" style="margin-left:30px;">
   <%=submit_tag(t('send') , :class=>"button remarca", :style=>"background-color: #FFFFF;") %>
 </div>
 <%end%>
