<h1><%=t('foros')%></h1>
<br/>
<p>
	<b><%=t('claveactual')%>&nbsp;</b>
<%=link_to t('edit'),foro_clave_path(:id=>@clave)%>
</p>
 <table class="listado_registros">
 	   <%= render :partial => "/shared/cabecera_tabla_gestion", 
		:locals =>{ :n_columns=>5, :title=>t('fondos'), 
		:columns=>[t('tituloes') ,t('titulofr') , t("show"), t('edit'), t('destroy')]} %>
<% @foros.each do |foro| %>
  <tr>
    <td><%= foro.tituloes %></td>
    <td><%= foro.titulofr %></td>
    
    <td><%= link_to t('show'), foro %></td>
    <td><%= link_to t('edit'), edit_foro_path(foro) %></td>
    <td><%= link_to t('destroy'), foro, :confirm => t('confirm'), :method => :delete %></td>
  </tr>
<% end %>
</table>






  <div class="opciones_generales">
	<ul  >
		<%if current_user.tipo!='traductor'%>

		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>sitio_path(@sitio)} %>         
	<%end%>
	<%=render :partial=>"/shared/opcion_gestion", 
		:locals=>{:mensaje=>t('new')+' '+t('foro'), :path_volver=>new_foro_path(:id=>@sitio)} %>  
	</ul>
</div>
