<!--<h1><%=t('foros')%></h1>

  
  Ayuda a la navegacion  , se puede extraer -->
<%if current_user.tipo=='traductor'%>
	<h4>
	
	<%=t('show')%> <%=link_to t('todos'),foros_path(:modo=>'todos',:vista=>'gestion')%>, 
	     <%=link_to t('sintrad'),foros_path(:modo=>'sintrad',:vista=>'gestion')%>, 
	  <%=link_to t('sinrevisar'),foros_path(:modo=>'sinrevisar',:vista=>'gestion')%>.&nbsp;
	 <%=t('showing')+', '+t('foros')%>
	<b>
	<%if params[:modo]=='sintrad'%>
	   <%=t('sintrad')%>
	<%elsif params[:modo]=='sinrevisar'%>
	  <%=t('sinrevisar')%>
	<%else%>
	 <%=t('todos')%>
	<%end%>
	</b>
	</h4>
<%end%>
<!-- -------------------------------------- -->
  
  <%if current_user.tipo!='traductor'%>
  <div class="opciones_generales">
	<ul  >
	
	<%=render :partial=>"/shared/opcion_gestion", 
		:locals=>{:mensaje=> t('edit')+" "+t('claveactual'), :path_volver=>foro_clave_path(:id=>@clave)} %>  

	
	</ul>
</div>
	<%end%>

 <table class="listado_registros">
 	   <%= render :partial => "/shared/cabecera_tabla_gestion", 
		:locals =>{ :n_columns=>7, :title=>t('foros'), 
	:columns=>[t('tituloes') ,t('titulofr'),t('descripciones'),t('descripcionfr') , t("show"), t('edit'), t('destroy')]} %>
<% @foros.each do |foro| %>
  <tr>
    <td><%= foro.tituloes %></td>
    <td><%= foro.titulofr %></td>
    <td><%= foro.descripciones %></td>
    <td><%= foro.descripcionfr %></td>
    <td><%= link_to t('show'), foro %></td>
    <td><%= link_to t('edit'), edit_foro_path(foro) %></td>
    <td><%= link_to_unless  current_user.tipo='traductor', t('destroy'),foro, :confirm => t('confirm'), :method => :delete %></td>
  </tr>
<% end %>
</table>






  <div class="opciones_generales">
	<ul  >
		<%if current_user.tipo!='traductor'%>

		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>sitio_path(@sitio)} %>         
	
	<%=render :partial=>"/shared/opcion_gestion", 
		:locals=>{:mensaje=>t('new')+' '+t('foro'), :path_volver=>new_foro_path(:id=>@sitio)} %>  
	</ul>
	<%end%>
</div>
