<%= form_for @parrafo, :html => {:multipart => true} do |f| %>
   <% if @parrafo.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('avisoerror')%></h2>

      <ul>
      <% @parrafo.errors.full_messages.each do |msg| %>
        <li><%= t(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <%= f.hidden_field :pagina_id %>
  
   <div class="field">
    <%= f.label t :position %><br />
    <%= f.select :position, (1..50) %>
  </div>
  <div class="field">
    <%= f.label t :tituloes %><br />
    <%= f.text_field :tituloes %>
  </div>
  <div class="field">
    <%= f.label t :titulofr %><br />
    <%= f.text_field :titulofr %>
  </div>
  
  <div class="field">
    <%= f.label t :textoes %><br />
    <%= f.text_area :textoes,:size=>'55x10' %>
  </div>
  <div class="field">
    <%= f.label t :textofr %><br />
    <%= f.text_area :textofr,:size=>'55x10' %>
  </div>
 
 
   <%if @parrafo.imagen_url.to_s!='' %>
    <%= image_tag @parrafo.imagen_url.to_s,:size=>'200x150' %>
    <div class="field">
        <label>
          <%= f.check_box :remove_imagen %>
          <%= t('destroy')+' '+t('image')%>
        </label>
    </div>
    <%end%>
    <div class="field">
        <label><%= t('image')%></label>
        <%= f.file_field :imagen %>
    </div>

      <%if @parrafo.imagenmini_url.to_s!='' %>
    <%= image_tag @parrafo.imagenmini_url.to_s,:size=>'100x75' %>
     <div class="field">
        <label>
          <%= f.check_box :remove_imagenmini %>
          <%= t('destroy')+' '+t('image')%>
        </label>
    </div>
   <%end%>
    <div class="field">
        <label><%= t('miniatura')%></label>
        <%= f.file_field :imagenmini %>
    </div>
    
     <%if @parrafo.imagenmini_url.to_s!='' ||  @parrafo.imagen_url.to_s!='' %>
    <div class="field">    
          <%= f.label t :piefoto %><br />
          <%= f.text_field :piefoto %> 
    </div>
    <div class="field">    
          <%= f.label t :piefotofr %><br />
          <%= f.text_field :piefotofr %> 
    </div>
    <%end%>
      <%if current_user.tipo=='traductor'%>
	 <div class="field">
		<%= f.label t :revisado %>
		<%= f.check_box :revisado%>
		<%= f.label t :revisadofr %>	
		<%= f.check_box :revisadofr %>
	  </div>
   <%else%>
	<%= f.hidden_field :revisadofr,:value=>false %>
	<%= f.hidden_field :revisado,:value=>false %>
  <%end%>
  <div class="actions">
    <%= f.submit(t('save'), :class=>"button") %>
  </div>
<% end %>
