<!--<h1><%=t('parrafos')%></h1>
Ayuda a la navegacion  , se puede extraer -->
<%if current_user.tipo=='traductor'%>
	<h4>
	
	<%=t('show')%> <%=link_to t('todos'),parrafos_path(:modo=>'todos',:vista=>'gestion')%>, 
	     <%=link_to t('sintrad'),parrafos_path(:modo=>'sintrad',:vista=>'gestion')%>, 
	  <%=link_to t('sinrevisar'),parrafos_path(:modo=>'sinrevisar',:vista=>'gestion')%>.&nbsp;
	 <%=t('showing')+', '+t('parrafos')%>
	<b>
	<%if params[:modo]=='sintrad'%>
	   <%=t('sintrad')%>
	<%elsif params[:modo]=='sinrevisar'%>
	  <%=t('sinrevisar')%>
	<%else%>
	 <%=t('todos')%>
	<%end%>
	</b>
	</h4>
<%end%>
<!-- -------------------------------------- -->
<table class='listado_registros'>

    <%= render :partial => "/shared/cabecera_tabla_gestion", 
		:locals =>{ :n_columns=>8,:title=>t('parrafos'), 
	:columns=>[t('tituloes'),t("titulofr"), t("textoes"), t('textofr'),t("piefoto"),t("piefotofr"),t("show"),t("edit")]} %>

<%  @parrafos.each do |parrafo| %>
  <tr>
    <td><%= parrafo.tituloes%></td>
    <td><%= parrafo.titulofr%></td>
    <td><%= truncate(parrafo.textoes,:lenght=>10) %></td>
    <td><%= truncate(parrafo.textofr,:lenght=>10) %></td>
    <td><%= parrafo.piefoto%></td>
    <td><%= parrafo.piefotofr%></td>
    <td><%= link_to t('show'), parrafo %></td>
    <td><%= link_to t('edit'), edit_parrafo_path(parrafo) %></td>
   <% if !current_user.tipo=='traductor'%>  
    <td><%= link_to t('destroy'), parrafo, :confirm => t('confirm'), :method => :delete %></td>
   <%end%>
  </tr>
<% end %>
</table>

<br />

<% if current_user.tipo=='traductor'%>
<%= link_to t('traductor'),traductor_url %>
<%else%>
<%= link_to t('new'), new_parrafo_path %>
<%end%>


