<div class="detalle_gestion">
<h1><%=t('show')+' '+t('parrafo')%> </h1>
<br/>
 <p>
  <b><%=t('tituloes')%></b>
   <%= @parrafo.tituloes %>
 </p>
 <p>
  <b><%=t('titulofr')%></b>
   <%= @parrafo.titulofr %>
 </p>
 
 
 <p>
    <b><%=t('textoes')%></b>
    <%= simple_format(@parrafo.textoes) %>
  </p>
 
   <p>
     <b><%=t('textofr')%></b>
    <%= simple_format(@parrafo.textofr) %>
  </p>
 <p> 
 <% if @parrafo.imagen_url.to_s != "" %>
<%= image_tag @parrafo.imagen_url.to_s, :size=>'200x150' %>
<% end %>
<% if @parrafo.imagenmini_url.to_s != "" %>
<%= image_tag @parrafo.imagenmini_url.to_s, :size=>'100x75' %>
<% end %>
</p>
<% if @parrafo.imagenmini_url.to_s != "" || @parrafo.imagen_url.to_s!= "" %>
 <p>
    <b><%=t('piefoto')%></b>
    <%= @parrafo.piefoto%>
  </p>
  <p>
    <b><%=t('piefotofr')%></b>
    <%= @parrafo.piefoto%>
  </p>
<%end%>
</p>
<div class="opciones_generales">
	<ul  >
		<%if current_user.tipo=='traductor'%>      
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>parrafos_path(:modo=>'sintrad')} %>   
		<%else%>
		<%=render :partial=>"/shared/opcion_gestion", :locals=>{:mensaje=>t('edit'), :path_volver=> edit_parrafo_path(@parrafo)} %>         

		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>pagina_path(:id=> @parrafo.pagina)} %>   
		<%end%>         
	</ul>
</div>


 
</div>
