<h1><%=t('show')+' '+t('parrafo')%> </h1>
<br/>
 <p>
    <b>Texto ES:</b>
    <%= simple_format(@parrafo.textoes) %>
  </p>
 
   <p>
    <b>Texto Fr:</b>
    <%= simple_format(@parrafo.textofr) %>
  </p>
 <p> 
 <% if @parrafo.imagen_url.to_s != "" %>
<%= image_tag @parrafo.imagen_url.to_s %>
<% end %>
</p>
<%  if current_user.tipo=='traductor'%>
 <%= link_to t('back'), parrafos_path(:modo=>'sintrad') %>
<%else%>
<%= link_to t('edit'), edit_parrafo_path(@parrafo) %> |
<%= link_to t('back'), pagina_path(:id=> @parrafo.pagina) %>
 <%end%>
 

