
<!-- form_for(@pagina,:remote => true) esto era para llamada ajax-->
<!--  form_for(@pagina,:remote => true)  do |f|  -->
<%= form_for(@pagina) do |f| %>

  <% if @pagina.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('avisoerror')%></h2>

      <ul>
      <% @pagina.errors.full_messages.each do |msg| %>
        <li><%= t(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <%= f.hidden_field :vision_id %>
  <%= f.hidden_field :protagonistas_id %>
  <%= f.hidden_field :enfoque_id %>
  <%= f.hidden_field :pagina_id %>
   <%= f.hidden_field :documentacion_id%>
  <%= f.hidden_field :presentacion_id%>
  <%= f.hidden_field :red_id %>
  <div class="field">
    <%= f.label t :tituloes %><br />
    <%= f.text_field :tituloes %>
  </div>
  <div class="field">
    <%= f.label t :titulofr %><br />
    <%= f.text_field :titulofr %>
  </div>
    <%if current_user.tipo=='traductor'%>
	 <div class="field">
		<%= f.label t :revisado %>
		<%= f.check_box :revisado%>
		<%= f.label t :revisadofr %>	
		<%= f.check_box :revisadofr %>
	  </div>
   <%else%>
	<%= f.hidden_field :revisadofr,:value=>false %>
	<%= f.hidden_field :revisado,:value=>false %>
  <%end%>
  <div class="actions">
    <%= f.submit(t('save')) %>
  </div>
<% end %>
