<%= form_for(@pagina) do |f| %>
  <% if @pagina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pagina.errors.count, "error") %> prohibited this pagina from being saved:</h2>

      <ul>
      <% @pagina.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tituloes %><br />
    <%= f.text_field :tituloes %>
  </div>
  <div class="field">
    <%= f.label :titulofr %><br />
    <%= f.text_field :titulofr %>
  </div>
  <div class="actions">
    <%= f.submit(t('save')) %>
  </div>
<% end %>
