<%= form_for(@pagina) do |f| %>
  <% if @pagina.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('avisoerror')%></h2>

      <ul>
      <% @pagina.errors.full_messages.each do |msg| %>
        <li><%= t(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <%= f.hidden_field :documentacion_id%>
  <%= f.hidden_field :presentacion_id%>
  <%= f.hidden_field :red_id %>
  <div class="field">
    <%= f.label t :tituloes %><br />
    <%= f.text_field :tituloes %>
  </div>
  <div class="field">
    <%= f.label t :titulofr %><br />
    <%= f.text_field :titulofr %>
  </div>
  <div class="actions">
    <%= f.submit(t('save')) %>
  </div>
<% end %>
