<h1><%=t('paginas')%></h1>

<table>
  <tr>
    <th><%=t('tituloEs')%></th>
    <th><%=t('tituloFr')%></th>
    <th></th>
    <th></th>
   <% if !current_user.tipo=='traductor'%> 
    <th></th><% end %>
  </tr>

<% @paginas.each do |pagina| %>
  <tr>
    <td><%= pagina.tituloes %></td>
    <td><%= pagina.titulofr %></td>
      <% if !current_user.tipo=='traductor'%>  
    <td><%= link_to t('show'), pagina %></td>
    <%end%>
    <td><%= link_to t('edit'), edit_pagina_path(pagina) %></td>
   <% if !current_user.tipo=='traductor'%>  
    <td><%= link_to t('destroy'), pagina, :confirm => t('confirm'), :method => :delete %></td>
   <%end%>
  </tr>
<% end %>
</table>

<br />

<% if current_user.tipo=='traductor'%>
<%= link_to t('traductor'),traductor_url %>
<%else%>
<%= link_to t('new'), new_pagina_path %>
<%= link_to t('back')+' al sitio',presentacion_path(@presentacion.sitio) %
<%end%>


