<h1><%=t('paginas')%></h1>
<!--Ayuda a la navegacion  , se puede extraer -->
<%if current_user.tipo=='traductor'%>
	<h4>
	
	<%=t('show')%> <%=link_to t('todos'),paginas_path(:modo=>'todos',:vista=>'gestion')%>, 
	     <%=link_to t('sintrad'),paginas_path(:modo=>'sintrad',:vista=>'gestion')%>, 
	  <%=link_to t('sinrevisar'),paginas_path(:modo=>'sinrevisar',:vista=>'gestion')%>.&nbsp;
	 <%=t('showing')+', '+t('paginas')%>
	<b>
	<%if params[:modo]=='sintrad'%>
	   <%=t('sintrad')%>
	<%elsif params[:modo]=='sinrevisar'%>
	  <%=t('sinrevisar')%>
	<%else%>
	 <%=t('todos')%>
	<%end%>
	</b>
	</h4>
<%end%>
<!-- -------------------------------------- -->
<table class='listado_registros'>
   <%= render :partial => "/shared/cabecera_tabla_gestion", 
		:locals =>{ :n_columns=>4,:title=>t('comentarios'), 
		:columns=>[t('tituloes'),t("titulofr"), t("show"), t('edit')]} %>

<% @paginas.each do |pagina| %>
  <tr>
    <td><%= pagina.tituloes %></td>
    <td><%= pagina.titulofr %></td>
     
    <td><%= link_to t('show'), pagina %></td>
    
    <td><%= link_to t('edit'), edit_pagina_path(pagina) %></td>
   <% if !current_user.tipo=='traductor'%>  
    <td><%= link_to t('destroy'), pagina, :confirm => t('confirm'), :method => :delete %></td>
   <%end%>
  </tr>
<% end %>
</table>

<br />

<% if current_user.tipo=='traductor'%>
<%= link_to t('traductor'),traductor_url %>
<%else%>
<%= link_to t('new'), new_pagina_path %>
<%= link_to t('back')+' al sitio',presentacion_path(@presentacion.sitio) %>
<%end%>


