


<h1>
 <%= t('title')+': '%>
<%if spanish%>
  <%= @pagina.tituloes %>
<%else%>
  <%= @pagina.titulofr %>
<%end%>
</h1>

<p id="notice"><%= notice %></p>
<!--Mostrar parrafos -->
<h3><%=t('parrafos') %></h3>
<%= render :partial => "parrafos/parrafo", :collection => @pagina.parrafos %>
<p>
<%= link_to t('new')+' '+t('parrafo'), new_parrafo_path(:id=>@pagina) %>

</p>
<h3><%=t('documentos') %></h4>
<table>
 <tr>
 <th><%=t('doces')%></th>
 <th><%=t('enlace')%></th>
 <th><%=t('docfr')%></th>
 <th><%=t('enlace')%></th>
 <th></th>
 <th></th>
 <th></th>
 <th></th>
 </tr>
<%= render :partial => "documentos/documento", :collection => @pagina.documentos %>
</table>
<br/>
<p>
<%= link_to t('new')+' '+t('documento'), new_documento_path(:id=>@pagina) %>
</p>

<!--seccion de parrafos-->

<%= link_to t('edit')+' '+t('pagina'), edit_pagina_path(@pagina) %> |
<%  if !@pagina.presentacion.nil?%>
<%= link_to 'Volver', presentacion_path(@pagina.presentacion.sitio) %>
<%else%>
<%= link_to 'Volver',  red_path(@pagina.red.sitio) %>
<%end%>

