<%if spanish %>
	<li><%= truncate(comentario.textoes,:lenght=>50)%>&nbsp;&nbsp;<%= link_to t('responder') ,new_comentario_path(:id=>@foro,:responde=>comentario) %></li>
<%else%>
	<li><%= truncate(comentario.textofr,:lenght=>50)%>&nbsp;&nbsp;<%= link_to t('responder') ,new_comentario_path(:id=>@foro,:responde=>comentario) %></li>
<%end%>
<%if !comentario.comentarios.nil?%>
	<ul>
	<%= render :partial => "comentarios/comentario", :collection => comentario.comentarios %>
	</ul>
<%end%>

