<%if spanish %>
	<li><%=link_to comentario.tituloes,comentario%>&nbsp;|| &nbsp;<%=link_to comentario.usuarioforo.nombre,comentario.usuarioforo%>&nbsp;<%= link_to t('responder') ,new_comentario_path(:id=>@foro,:responde=>comentario) %></li>
<%else%>
	<li><%=link_to comentario.titulofr,comentario%>&nbsp;&nbsp;<%= link_to t('responder') ,new_comentario_path(:id=>@foro,:responde=>comentario) %></li>
<%end%>
<%if !comentario.comentarios.nil?%>
	<ul>
	<%= render :partial => "comentarios/comentario", :collection => comentario.comentarios %>
	</ul>
<%end%>

