<%if principal.comentario_id.nil?%>
<%if spanish && !principal.tituloes.blank? || !spanish&& principal.titulofr.blank?%>
	<li><%=link_to principal.tituloes,principal%>&nbsp;|| &nbsp;<%=link_to principal.usuarioforo.nombre,principal.usuarioforo%>&nbsp;<%= link_to t('responder') ,new_comentario_path(:id=>@foro,:responde=>principal) %></li>
<%elsif   !spanish && !principal.titulofr.blank? || spanish&&principal.tituloes.blank? %>
	<li><%=link_to principal.titulofr,principal%>&nbsp;|| &nbsp;<%=link_to principal.usuarioforo.nombre,principal.usuarioforo%>&nbsp;<%= link_to t('responder') ,new_comentario_path(:id=>@foro,:responde=>principal) %></li>
<%end%>
<%if !principal.comentarios.nil?%>
	<ul>
	<%= render :partial => "comentarios/comentario", :collection => principal.comentarios %>
	</ul>
	<%end%>

<%end%>
