<p>
  <b><%=t('tituloes')%></b>
  <%= @comentario.tituloes %>
</p><p>
  <b><%=t('textoes')%></b>
  <%= simple_format(@comentario.textoes) %>
</p>
<p>
 <b><%=t('titulofr')%></b>
  <%= @comentario.titulofr %>
</p><p>
  <b><%=t('textofr')%></b>
  <%= @comentario.textofr %>
</p>


