<h1>Listing comentarios</h1>

<table>
  <tr>
    <th>Textoes</th>
    <th>Textofr</th>
    <th>Foro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comentarios.each do |comentario| %>
  <tr>
    <td><%= comentario.textoes %></td>
    <td><%= comentario.textofr %></td>
    <td><%= comentario.foro %></td>
    <td><%= link_to 'Show', comentario %></td>
    <td><%= link_to 'Edit', edit_comentario_path(comentario) %></td>
    <td><%= link_to 'Destroy', comentario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comentario', new_comentario_path %>
