<!--Ayuda a la navegacion  , se puede extraer -->
<%if current_user.tipo=='traductor'%>
	<h4>
	
	<%=t('show')%> <%=link_to t('todos'),comentarios_path(:modo=>'todos',:vista=>'gestion')%>, 
	     <%=link_to t('sintrad'),comentarios_path(:modo=>'sintrad',:vista=>'gestion')%>, 
	  <%=link_to t('sinrevisar'),comentarios_path(:modo=>'sinrevisar',:vista=>'gestion')%>.&nbsp;
	 <%=t('showing')+', '+t('comments')%>
	<b>
	<%if params[:modo]=='sintrad'%>
	   <%=t('sintrad')%>
	<%elsif params[:modo]=='sinrevisar'%>
	  <%=t('sinrevisar')%>
	<%else%>
	 <%=t('todos')%>
	<%end%>
	</b>
	</h4>
<%end%>
<!-- -------------------------------------- -->
<table class="listado_registros">
 	   <%= render :partial => "/shared/cabecera_tabla_gestion", 
		:locals =>{ :n_columns=>10,:title=>t('comentarios'), 
		:columns=>[t('tituloes'),t("textoes"), t('titulofr'),t("textofr"),t("created"),t("usuario"),t("equipo"), t("show"), t('edit'), t('destroy')]} %>
<% @comentarios.each do |comentario| %>
  <tr>
     <td><%=comentario.tituloes%></td>
    <td><%= truncate(comentario.textoes,:lenght=>25) %></td>
    <td><%=comentario.titulofr%></td>
    <td><%= truncate(comentario.textofr,:lenght=>25) %></td>
      <td><%=comentario.created_at%></td>
      <td><%=if !comentario.usuarioforo.nil? then comentario.usuarioforo.nombre end%></td>
      <td><%=if !comentario.usuarioforo.nil? then comentario.usuarioforo.equipo_id end %></td>

    <td><%= link_to t('show'), comentario_path(comentario,:vista=>'gestion') %></td>
    <td><%= link_to t('edit'), edit_comentario_path(comentario,:vista=>'gestion') %></td>
  
    <td><%= link_to_unless current_user.tipo=='traductor', t('destroy'), comentario, :confirm => t('confirm'), :method => :delete %></td>
  
  </tr>
<% end %>
</table>






<br />
<div class="opciones_generales">
	<ul>
		<%if current_user.tipo=='traductor'%>
			<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>traductor_url} %>   
		<%else%>
			<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>foro_path(@foro)} %>   
		<%end%>
	</ul>
</div>

