<% @equipos.each do |equipo| %>
	<li><%=link_to equipo.nombre,jeunes_equipo_path(:id=>equipo) %></li>
	
	<%  if  @equipo==equipo %>
	<ul>                                                       
		<li><%=link_to t('presentacion'),jeunes_seccion_path(:id=>@seccion)  %></li>
    	<ul><%=render 'quartiers/presentaciones'%></ul>
		<li><%= t('proyectos')%></li>
			<ul><%=render 'quartiers/proyectos'%></ul>
		<li><%=link_to t('colaboradores'),jeunes_colaborador_path(:id=>equipo.sitio)%></li>
		<li><%=link_to t('agenda'),jeunes_agenda_path(:id=>equipo.sitio)%></li>
		<li><%=link_to t('contacto'),jeunes_contacto_path(:id=>equipo.sitio)%></li>
	</ul>
	
	<%end%> 
<% end %>
