<h1><%= t('foro').capitalize+' '%>
<% if spanish%><%=@foro.tituloes%><%else%><%=@foro.titulofr%><%end%></h1>

<div id="quillo"><h1></h1></div>

<% content_for :menu_izq do%>

<h2><%=t('docprop')%></h2>
<% @foro.documentos.each do |documento| %>
     <% if spanish %>
     	 <li><%= link_to documento.doces,documento.archivo_url.to_s %></li>
     <%else%>
    	 <li><%= link_to documento.docfr,documento.archivofr_url.to_s %></li>
    <%end%>
<%end%>
<%end%>



<h2><%=t('comentarios')%></h2>



<div class="hilo_foro">
<%= render :partial => "comentarios/principal", :collection => @foro.comentarios %>
</div>
<br/>
<br/>
<%= link_to t('new')+' '+t('comentario'),new_comentario_path(:id=>@foro,:tipo=>'jeunes')%>


<script type="text/javascript">
<!--

	$(".nav_link").click(function() {
	ide=$(this).attr('id');
	comentario_url=$(this).attr('pepe');
	url_json='/comentarios/'+ide+'.json';
	
	if (window.console) {
		console.log('obteniendo datos json: '+url_json);
	} 

	resultado=$(this).parent().parent().find('.detalle').slice(0,1);
	resultado.empty();
	resultado.fadeIn();  
	resultado.append('<h3>Loading</h3>');
	
	$.getJSON(url_json, function(data) {
		nodo=data;
		resultado.empty();
		$.each(nodo, function(key, val) {
			resultado.append('<h1>'+val['titulo<%=locale.to_s%>']+'</h1>');
			resultado.append('<h3>'+val['texto<%=locale.to_s%>']+'</h3>');
			resultado.append('<a class=\'close\' href=\'javascript:void(0);\'><%= t('close')%></a>');
			resultado.append('<a class=\'coment\' href=\''+comentario_url+'\'><%=t('responder')%></a>');
		});
		$('.close').live('click', function() {
			$(this).parent().fadeOut();  
			//	$(this).parent().empty();
			// Live handler called.
		});
		$('.coment').live('click', function() {
			//	$(this).parent().empty();
			// Live handler called.
		});
	});
	});

-->
</script>

