<%= form_for(@sitio) do |f| %>
  <% if @sitio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sitio.errors.count, "error") %> prohibited this sitio from being saved:</h2>

      <ul>
      <% @sitio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombreEs %><br />
    <%= f.text_field :nombreEs %>
  </div>
  <div class="field">
    <%= f.label :nombreFr %><br />
    <%= f.text_field :nombreFr %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.select(:tipo,['team','group','project']) %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit(t('save'), :class=>"button") %>  </div>
<% end %>
