<h1><%=t('contacto')%></h1>
<table>
<tr>
  	<th><%=t('infoEs')%></th>
 	<th><%=t('infoFr')%></th>
 	<th><%=t('email')%></th>
 	<th></th>
 	<th></th>
 	<th></th>
  <tr>
<%= render :partial => "contactos/contacto", :collection => @contactos %>
</table>
<br/>
<% if current_user.tipo=='traductor'%>
<%= link_to t('back'),traductor_url %>
<%else%>
<%= link_to t('new')+t('colaborador'), new_colaborador_path(:id=>@sitio) %> | 
<%= link_to t('back'),sitio_path(@sitio) %>

<%end%>
