<div class="detalle_gestion">
<h2><%=t('informacion')+' '+t('contacto')%></h2>
  </br>
  <p><b><%=t('email')%>:</b> <%= @contacto.email %></p>
  <p><b><%=t('infoEs')%></b>
  <%= simple_format(@contacto.infoEs) %></p>
  <p><b><%=t('infoFr')%></b><%= simple_format(@contacto.infoFr) %></p>
   <p><%= simple_format(@contacto.infoFr) %></p>
   <p><b><%=t('descripciones')%></b>
  <%= simple_format(@contacto.descripciones) %></p>
  <p><b><%=t('descripcionfr')%></b><%= simple_format(@contacto.descripcionfr) %></p>
   <p><%= simple_format(@contacto.descripcionfr) %></p>
  
  </br>
<div class="opciones_generales">
	<ul  >
		<%=render :partial=>"/shared/opcion_gestion", :locals=>{:mensaje=>t('edit'), :path_volver=> edit_contacto_path(@contacto)} %>         
<% if current_user.tipo=='traductor'%> 
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>contactos_path(:modo=>'sintrad')} %>   
<%else%>
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>sitio_path(:id=>@contacto.sitio)} %>   
<%end%>

	</ul>
</div>


</div>

