<h2><%=t('agenda')%></h2>

<% @eventos.each do |evento| %>

    
     <% if spanish %>
     	 <h3><%= evento.tituloEs %></h3>
     <%else%>
    	 <h3><%= evento.tituloFr %></h3>
    <%end%>
    <p> <%= l evento.fecha,:format => :default%></p>  
    <p>
    <% if evento.imagen_url.to_s != "" %>
    <%= image_tag evento.imagen_url.to_s %>
    <% end %>
    </p>



<%end%>
