<p id="notice"><%= notice %></p>

<p>
  <b><%=t('nombreEs') %></b>
  <%= @colaborador.nombreEs %>
</p>

<p>
  <b><%=t('nombreFr') %></b>
  <%= @colaborador.nombreFr %>
</p>

<p>
  <b><%=t('aporta') %></b>
  <% if @colaborador.aporta %>
   <%= t('siAporta')%>
   <%else%>
   <%= t('noAporta')%>
   <%end%>
</p>

<p>
  <b><%=t('infoEs') %></b>
  <%= @colaborador.infoEs %>
</p>

<p>
  <b><%=t('infoFr') %></b>
  <%= @colaborador.infoFr %>
</p>

<p>
  <b><%=t('direccion') %></b>
  <%= @colaborador.direccion %>
</p>

<p>
  <% if @colaborador.imagen_url.to_s != "" %>
<%= image_tag @colaborador.imagen_url.to_s %>
<% end %>
</p>

<br/>
<%= link_to t('edit'), edit_colaborador_path(@colaborador) %> |
<%if current_user.tipo=='traductor'%>
<%= link_to t('back'), colaboradors_path(:modo=>'sintrad') %>
<%else%>
<%= link_to t('back'), colaboradors_path(:id=>@colaborador.sitio) %>
<%end%>

