<% @equipos.each do |equipo| %>
	<li><%=link_to equipo.nombre,femmes_equipo_path(:id=>equipo) %></li>
	
	<%  if  @equipo==equipo %>
	<ul>                                                       
		<li><%=link_to t('presentacion'),femmes_seccion_path(:id=>@seccion)  %></li>
    	<ul><%=render 'femmes/presentaciones'%></ul>
		<li><%= t('proyectos')%></li>
			<ul><%=render 'femmes/proyectos'%></ul>
		<li><%=link_to t('colaboradores'),femmes_colaborador_path(:id=>equipo.sitio)%></li>
		<li><%=link_to t('agenda'),femmes_agenda_path(:id=>equipo.sitio)%></li>
		<li><%=link_to t('contacto'),femmes_contacto_path(:id=>equipo.sitio)%></li>
	</ul>
	
	<%end%> 
<% end %>
