<h1><%=t('usuarios')%></h1>
<br/>
<table>
  <tr>
    <th><%=t('nombre')%></th>
    <th><%=t('email')%></th>
    <th><%=t('idioma')%></th>
  <% if params[:tipo]=='traductor'%> 
    <th><%=t('traduceA')%></th>
    <%end%>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.nombre %></td>
    <td><%= usuario.email %></td>
    <td><%= t(usuario.idioma) %></td>
     <% if params[:tipo]=='traductor'%> 
    <td><%= t(usuario.traduceA) %></td>
    <%end%>
    <td><%= link_to t('show'), usuario %></td>
    <td><%= link_to t('edit'), edit_usuario_path(usuario) %></td>
    <td><%= link_to t('destroy'), usuario, :confirm => t('confirm'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% if !params[:id].nil?%>
<%= link_to t('new')+' usuario', new_usuario_path(:id=>@sitio) %>
|<%= link_to t('back'),sitio_path(@sitio)  %> 
<%elsif params[:tipo]=='traductor'%>
<%= link_to t('new')+' usuario', new_usuario_path(:tipo=>'traductor') %>
<%= link_to t('back'),admin_path()  %> 
<%elsif params[:tipo]=='admin'%>
<%= link_to t('new')+' usuario', new_usuario_path(:tipo=>'admin') %>
<%= link_to t('back'),admin_path()  %> 
<%end%>
