<div class="detalle_gestion">
<h1><%=t('show')+' '+t('usuario')%> </h1>
<p id="notice"><%= notice %></p>

<p>
  <b><%=t('name')%></b>
  <%= @usuarioforo.nombre %>
</p>

<p>
  <b><%=t('email')%></b>
  <%= @usuarioforo.email %>
</p>
<p>
 <b><%=t('idioma')%></b>
  <%= t(@usuarioforo.idioma) %>
</p>
<div class="opciones_generales">
	<ul  >
	    
<% if usuarioforologado==@usuarioforo || params[:vista]%> 
<%=render :partial=>"/shared/opcion_gestion", :locals=>{:mensaje=>t('edit'), :path_volver=> edit_usuarioforo_path(@usuarioforo)} %>     
<%elsif params[:foro] && !@usuarioforo.jeunes.nil?%>
<li><%=link_to t('back'),jeunes_foro_path(:id=>params[:foro])%></li>
<%elsif params[:foro] && !@usuarioforo.femmes.nil?%>
<li><%=link_to t('back'),femmes_foro_path(:id=>params[:foro])%></li>
<%else%>
	<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>usuarioforos_path(:tipo=>session[:tipo_foro])} %>   

<%end%> 
	</ul>
</div>


</div>
