
<p id="notice"><%= notice %></p>


<br/>

<br/>

<p>
  <b><%=t 'tituloes'%></b>
  <%= @video.tituloes %>
</p>
<p>
  <b><%=t 'titulofr'%></b>
  <%= @video.titulofr %>
</p>

<p>
  <b>Html</b>
  <%= @video.html %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', pagina_path(@video.pagina) %>
