<div class="hilo">
	<div class="fecha">(<%=hilo.created_at%>)</div>
	<div class="mensaje">
		<%trad=Traduccion.new(hilo, :titulo)%>
		<a class="nav_link" id="<%=hilo.id%>" style="<%=trad.alternativaCSS%>"
		pepe="<%=new_comentario_path(:id=>@foro,:responde=>hilo, :locale=>I18n.locale)%>" href="javascript:void(0);">
			>><%=trad.resultado%></a>
	</div>
	
		<div class="usuario">
			<%if !hilo.usuarioforo.nil? then %>
		<%=link_to hilo.usuarioforo.nombre,hilo.usuarioforo%> 
		<%end%>
		</div>
		<br>
		<div class="detalle"></div>
		&nbsp;
		<%if !hilo.comentarios.nil?%>
			<div class="subhilo">
			<%= render :partial => "comentarios/comentario", :collection => hilo.comentarios.sort_by( &:created_at ).reverse  %>	
			</div>
		<%end%>
</div>
