<%if !imagen.nil? and !imagen.empty?%>
		<div class="img-shadow">
	<% if !enlace_imagen.nil? and !enlace_imagen.empty? %>
		<a href="<%=enlace_imagen%>" class="lightbox" title="<%= if !imagen_title.nil? and !imagen_title.empty? then imagen_title end %>">
		<img class="miniatura" src="<%= if imagen.empty? then enlace_imagen else imagen end %>"  class="image <%= if !imagen_class.nil? and !imagen_class.empty? then imagen_class end %> " >
</a>
	<% else %>

        <img  class="image miniatura <%= if !imagen_class.nil? and !imagen_class.empty? then imagen_class end %> " >
	<% end %>
	<% if !imagen_title.nil? and !imagen_title.empty?  %>
	<cite><%=imagen_title%></cite>
	<%end%>
	</div>
<%end %>
