<%if defined?imagen%>
		<div class="img-shadow">
	<% if defined?enlace_imagen %>
		<a href="<%=enlace_imagen%>" class="lightbox" title="<%= if defined?imagen_title then imagen_title end %>">
		<img src="<%=imagen%>"  class="image <%= if defined?imagen_class then imagen_class end %> " >
</a>
	<% else %>

        <img src="<%=imagen%>"  class="image <%= if defined?imagen_class then imagen_class end %> " >
	<% end %>
	<% if defined?imagen_title  %>
	<cite><%=imagen_title%></cite>
	<%end%>
	</div>
<%end %>
