<%
style=" style='width:100%;padding:5px;font-size:12px;background-color:none;' "
%>

<li <%=style%>><%= link_to t('comentarios'),comentarios_path(:modo=>'todos',:vista=>'gestion')%></li>
<li <%=style%>><%= link_to  t('eventos'),eventos_path(:modo=>'todos',:vista=>'gestion')%> </li>
<li <%=style%>><%= link_to  t('foros'),foros_path(:modo=>'todos',:vista=>'gestion')%></li>
<li <%=style%>><%= link_to  t('documentos'),documentos_path(:modo=>'todos',:vista=>'gestion')%></li>
<li <%=style%>><%= link_to t('imagenes'), imagens_path(:modo=>'todos',:vista=>'gestion')%></li>
<li <%=style%>><%= link_to  t('equipos'), equipos_path(:modo=>'todos',:vista=>'gestion')%></li>
<li <%=style%>><%= link_to  t('paginas'), paginas_path(:modo=>'todos',:vista=>'gestion')%></li>
<li <%=style%>><%= link_to  t('parrafos'), parrafos_path(:modo=>'todos',:vista=>'gestion')%></li>
