<h1><%=t('agenda')%></h1>
<hr class="space">
<% @eventos.each do |evento| %>
<div class="evento">
	 		<a name="evento<%=evento.id%>"></a> 

  <h2><%= l evento.fecha,:format => "%d/%m/%Y"%> -  <%=  evento.send(:titulo.to_s+locale.to_s.capitalize) %></h2>
   <% if evento.imagen_url.to_s != "" %>
   <%= render :partial => "/shared/img", :locals => {
:imagen=>thumbea(evento.imagen_url), 
:enlace_imagen=>evento.imagen_url, 
:imagen_class=>"left",
:imagen_title=>""
}
%> 	
<%end%>

  <div>
  	<%=  linkea(evento.send(:descripcion.to_s+locale.to_s)) %>
	<%if (locale.to_s=='es' and evento.documento.to_s!="") or (locale.to_s=='fr' and evento.documentofr.to_s!="")%>
	
	<br style="clear:both;">
	<h3><%=t('documentacion')%></h3>
	<%= link_to evento.method(:titulodoc.to_s+locale.to_s).call, if locale.to_s=='es' then evento.documento.to_s else evento.documentofr.to_s end%>
	<%end%>

  </div>
  

</div>

<hr class="space">

<%end%>
<%
content_for :menu_izq do %>

<div class="paginas">
<div class="ficha_izq_titulo"><%=t('agenda')%></div>

<ul>
	
<% @eventos.each do |evento| 
titulete=" * "+ evento.send(:titulo.to_s+locale.to_s.capitalize)

titulete_mini=truncate(titulete, :length => 40)
%>

	 	<li> <%= link_to titulete_mini, asociation_agenda_path( :anchor=>"evento"+evento.id.to_s),:onmouseout =>"$(this).text('#{titulete_mini}');",  :onmouseover => "$(this).text('#{titulete}');" %> </li> 
<% end %>
</ul>
</div>
<% end %>
