<script>
	function despliega_categoria(nombre_categoria){
		var width_actual;
		var width_demas;
		var height_actual;
		var biblioteca_categoria_parent=nombre_categoria.parent();
		
	if(biblioteca_categoria_parent.data('desplegado')){
		
	 biblioteca_categoria_parent.data('desplegado',false);
	 width_actual=90/$(".nombre_biblioteca_categoria").size();
	 width_demas=width_actual;
 	 height_actual='100px';
	}else{
		console.log(biblioteca_categoria_parent.data('desplegado'));
	 biblioteca_categoria_parent.data('desplegado', true);
 	 height_actual='70%';
 	 width_actual=85;
	 width_demas=5/$(".nombre_biblioteca_categoria").size();

	}
	// nombre_categoria.append(". Desplegado: "+biblioteca_categoria_parent.data('desplegado'));
	$.each($(".nombre_biblioteca_categoria"), 
		function(){
		if($(this).text() != nombre_categoria.text() ){
		$(this).parent().animate({ width: width_demas+'%'}, 500);
		$(this).parent().animate({ height: '100px'}, 500);
		}else{
		nombre_categoria.parent().animate({ width: width_actual+'%'}, 1000);
		nombre_categoria.parent().animate({
			height: height_actual
		},1000);
		}
	}
	);
	//modulo.find('.descripcion').show('slow');
	}
	
</script>

<h1><%=t('videos').capitalize+': '+t(proy)%></h1>

<%= render :partial =>'busquedas/buscar_videos', :locals=>{:proyecto=>proy}%>

<%if params[:search]%>
<p><%=t('resultado')+': '+@resultado.size.to_s+' '+t('entradas')+' . ' %><%=link_to t('destroy')+' '+'busqueda',send(proy+"_videos_path")%></p>
<%end%>

<% @videos.each do |video|%>
 		<p>		
 		<%=render :inline=>video.html%><br/>
			<b><%=video.send(:titulo.to_s+locale.to_s)%></b>
			<%=t('sito')%> <%=link_to video.pagina.send(:titulo.to_s+locale.to_s),send(proy+"_pagina_path",:id=>video.pagina.id)%></li>
		
		
		
		</p>
<%end%>
<%if params[:search]%>

<%= will_paginate @videos %>
<%end%>

