<% if spanish %>
 	<h1><%= @pagina.tituloes %> </h1> 
<%else%>
	<h1><%= @pagina.titulofr %> </h1> 
<% end %> 
<% @pagina.parrafos.each do |parrafo| %>
	<% if spanish %>
 		<h2><%= parrafo.tituloes %> </h2> 
 		<p><%=simple_format(parrafo.textoes)%><p>
	<%else%>
		<h2><%= parrafo.titulofr %> </h2> 
		<p><%=simple_format(parrafo.textoes)%><p>
	<% end %> 

	<% if parrafo.imagen_url.to_s != "" %>
		<%= image_tag parrafo.imagen_url.to_s, :size=>'200x150' %>
	<% end %>
	<% if parrafo.imagenmini_url.to_s != "" %>
		<%= image_tag parrafo.imagenmini_url.to_s, :size=>'100x75' %>
	<% end %>
	<% if parrafo.imagen_url.to_s != "" || parrafo.imagenmini_url.to_s != ""%>
		<% if spanish %>
 			<p><%= parrafo.piefoto %> </p> 
		<%else%>
			<p><%= parrafo.piefotofr %> </p> 
		<% end %> 
		
	<% end %>	
<% end %>
<%if !@pagina.documentos.nil?%>
<h2><%=t('documentacion')%></h2>
<ul>
<% @pagina.documentos.each do |documento| %>
 	<% if spanish %>
 		<% if documento.archivo_url.to_s != "" %>
 		 	<li><%= link_to documento.doces, documento.archivo_url.to_s %></li>
		<%else%>
			<li><%= documento.doces %></li>
  		<% end %>	
 	<%else%>
 		<% if documento.archivofr_url.to_s != "" %>
 		 	<li><%= link_to documento.docfr, documento.archivofr_url.to_s %></li>
		<%else%>
			<li><%= documento.docfr %></li>
  		<% end %>	
 	<%end%>
<%end%>
</ul>
<%end%>
