<%= form_for @evento, :html => {:multipart => true} do |f| %>
<%= f.hidden_field :sitio_id%> 
 <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('avisoerror')%></h2>

      <ul>
      <% @evento.errors.full_messages.each do |msg| %>
        <li><%= t(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label t(:fecha) %><br />
    <%= f.datetime_select :fecha %>
  </div>
  <div class="field">
    <%= f.label t(:tituloEs) %><br />
    <%= f.text_field :tituloEs %>
  </div>
  <div class="field">
    <%= f.label t(:tituloFr) %><br />
    <%= f.text_field :tituloFr %>
  </div>
 
   <div class="field">
        <label><%=t('imagen')%></label>
      <%= f.file_field :imagen  %>
    </div>
    <% if @evento.imagen_url.to_s != "" %>
<%= image_tag @evento.imagen_url.to_s %>

   <div class="field">
        <label>
          <%= f.check_box :remove_imagen %>
          Borrar la imagen
        </label>
    </div>
<% end %>
  <%if current_user.tipo=='traductor'%>
	 <div class="field">
		<%= f.label t :revisado %>
		<%= f.check_box :revisado%>
		<%= f.label t :revisadofr %>	
		<%= f.check_box :revisadofr %>
	  </div>
   <%else%>
	<%= f.hidden_field :revisadofr,:value=>false %>
	<%= f.hidden_field :revisado,:value=>false %>
  <%end%>

  <div class="actions">
    <%= f.submit(t('save'), :class=>"button") %>
	  </div>
<% end %>
