<h1><%= t('eventos') %></h1>

<table>
  <tr>
    <th><%= t('fecha')%></th>
    <th> <%= t('tituloEs')%></th>
    <th> <%= t('tituloFr')%></th>
    <th><%= t('image')%></th>
    <th></th>
    <th></th>
    <% if !current_user.tipo=='traductor'%>
    <th></th><%end%>
  </tr>

<% @eventos.each do |evento| %>
  <tr>
    <td> <%= t(evento.fecha,:date=>{:format=>:long})%></td>  
    <td><%= evento.tituloEs %></td>
    <td><%= evento.tituloFr %></td>
    <td>
    <% if evento.imagen_url.to_s != "" %>
    <%= image_tag evento.imagen_url.to_s %>
    <% end %>
    </td>
    <td><%= link_to t('show'), evento %></td>
    <td><%= link_to t('edit'), edit_evento_path(evento) %></td>
  <% if !current_user.tipo=='traductor'%> 
    <td><%= link_to t('destroy'), [evento], :confirm => t('confirm'), :method => :delete %></td>
  <%end%>
  </tr>
<hl/>
<% end %>
</table>

<br />
<% if current_user.tipo=='traductor'%>
<%= link_to t('traductor'),traductor_url %>
<%else%>
<%= link_to t('new')+' '+t('evento'), new_evento_path(:id=>@sitio) %> | 
<%= link_to t('back')+' al sitio',sitio_path(@sitio) %>
<%end%>
