<div class="detalle_gestion">
<h1><%= t('show')+' '+t('evento')%></h1>

<p id="notice"><%= notice %></p>

  
<p>
  <b><%= t('fecha')%>:</b>
  <%= l @evento.fecha,:format=>:short%>
</p>

<p>
  <b><%= t('tituloEs')%>:</b>
   <%= @evento.tituloEs %>
</p>
<p>
  <b><%= t('descripciones')%>:</b>
   <%= @evento.descripciones %>
</p>
<p>
  <b><%= t('tituloFr')%>:</b>
   <%= @evento.tituloFr %>
</p>
<p>
  <b><%= t('descripcionfr')%>:</b>
   <%= @evento.descripcionfr %>
</p>
<% if @evento.imagen_url.to_s != "" %>
<p>
	
<%= image_tag @evento.imagen_url.to_s,:size=>'100x90' %>
</p>
<% end %>

 <% if @evento.documento_url.to_s != "" %>
	<p>    
  	 <%= t('documento').capitalize+' '+t('tituloes')+': '+@evento.titulodoces+'  '%><%= link_to @evento.documento_url.to_s %>
	</p>
<%end%>
<% if @evento.documentofr_url.to_s != "" %>
	<p>    
  	<%= t('documento').capitalize+' '+t('titulofr')+': '+@evento.titulodocfr+'  '%><%= link_to @evento.documentofr_url.to_s %>
	</p>
<%end%>

<div class="opciones_generales">
	<ul  >
				<%=render :partial=>"/shared/opcion_gestion", :locals=>{:mensaje=>t('edit'), :path_volver=> edit_evento_path(@evento)} %>         
	<%if current_user.tipo=='traductor'%>      
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>eventos_path(:modo=>'sintrad')} %>   
		<%else%>

		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>eventos_path(:id=> @evento.sitio_id)} %>   
		<%end%>         
	</ul>
</div>


</div>
