<h2><%=t('presentacion')%></h2> 
<div class="opciones_generales">
	<ul  >
		<%=render :partial=>"/shared/opcion_volver_sitio" %>         
		<%=render :partial=>"/shared/opcion_nueva_pagina",:locals => { :tipo_pagina => 'presentacion' } %>         
	</ul>
</div>
 <table>
   <tr>
   <th><%= t('tituloEs')%></th>
   <th><%= t('tituloFr')%></th>
   <th></th>
   <th></th>
   <th></th>
   </tr>
   <%= render :partial => "paginas/pagina", :collection => @presentacion.paginas %>
  </table
<div class="opciones_generales">
	<ul  >
		<%=render :partial=>"/shared/opcion_volver_sitio" %>         
		<%=render :partial=>"/shared/opcion_nueva_pagina",:locals => { :tipo_pagina => 'presentacion' } %>         
	</ul>
</div>