
<div class="opciones_generales">
	<ul  >
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>sitio_path(:id=>@sitio)} %>         
		<%=render :partial=>"/shared/opcion_nueva_pagina",:locals => { :tipo_pagina => 'presentacion' } %>         
	</ul>
</div>
<div class="listado_registros_div">
	
 <table class="listado_registros">
 	 <%if !@sitio.asociacion.nil?%> 
 	   <%= render :partial => "/shared/cabecera_tabla_gestion", 
		:locals =>{ :n_columns=>5,:title=>t('paginas_de')+" "+t('Presentacion'), :columns=>[t('tituloEs'), t('tituloFr')]} %>
      <%else%>
       <%= render :partial => "/shared/cabecera_tabla_gestion", 
		:locals =>{ :n_columns=>5,:title=>t('paginas_de')+" "+t('presentacion'), :columns=>[t('tituloEs'), t('tituloFr')]} %>
      <%end%>

   <%= render :partial => "paginas/pagina", :collection => @presentacion.paginas %>
  </table>
</div>
<div class="opciones_generales">
	<ul  >
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>sitio_path(:id=>@sitio)} %>         
		<%=render :partial=>"/shared/opcion_nueva_pagina",:locals => { :tipo_pagina => 'presentacion' } %>         
	</ul>
</div>
