<h2><%=t("presentacion")%></h2>
<br/>
  <table>
  <%= render :partial => "paginas/pagina", :collection => @seccion.paginas %>
  </table>
  <h3><%=t('new')+' '+t('pagina')%></h3>
  <%= link_to t('new'),new_pagina_path(:id=>@seccion) %> | 
  <%= link_to t('back')+' al sitio', sitio_path(@presentacion.sitio)%>
</p>


