<h1><%=t('acceder') %></h1>
<br/>

 <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
 <%end%>
<%= form_tag sesiones_path do %>
 <div class="field">
   <p><%= label_tag t :nombre  %> 
   <%= text_field_tag :nombre,params[:email]%></p>
 </div> 
 <div class="field"> 
  <p> <%= label_tag t :password  %> 
   <%= password_field_tag :password%></p>
 </div>
  <div class="actions">
   <%=submit_tag(t('send'), :class=>"button") %>
 </div>
 <%end%>

 
