<br/>
<%= form_for @documento, :html => {:multipart => true} do |f| %>
 <% if @documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('avisoerror')%></h2>

      <ul>
      <% @documento.errors.full_messages.each do |msg| %>
        <li><%= t(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
 
  <%=  f.hidden_field :foro_id%>
 <%=  f.hidden_field :pagina_id%>
  <div class="field">
    <%= f.label t :doces %><br />
    <%= f.text_field :doces %>
  </div>
  <div class="field">
        <label><%=t('eligeDoc')+' '+t('es')%></label>
        <%= f.file_field :archivo %>
  </div>
  <%if @documento.archivo_url.to_s!=''%>
   <%= link_to t('documento'), @documento.archivo_url.to_s %>
   <div class="field">
        <label>
          <%= f.check_box :remove_archivo %>
          <%= t('destroy')%>
        </label>
    </div>
  <%end%>
  <div class="field">
    <%= f.label t :docfr %><br />
    <%= f.text_field :docfr %>
  </div>
  <div class="field">
        <label><%=t('eligeDoc')+' '+t('fr')%></label>
        <%= f.file_field :archivofr %>
  </div>
  <%if @documento.archivofr_url.to_s!=''%>
   <%= link_to t('documento'), @documento.archivofr_url.to_s %>
   <div class="field">
        <label>
          <%= f.check_box :remove_archivofr %>
          <%= t('destroy')%>
        </label>
    </div>
  <%end%>
   
  <%if current_user.tipo=='traductor'%>
	 <div class="field">
		<%= f.label t :revisado %>
		<%= f.check_box :revisado%>
		<%= f.label t :revisadofr %>	
		<%= f.check_box :revisadofr %>
	  </div>
   <%else%>
	<%= f.hidden_field :revisadofr,:value=>false %>
	<%= f.hidden_field :revisado,:value=>false %>
  <%end%>
 
  
  <div class="actions">
    <%= f.submit(t('save')) %>
  </div>
<% end %>
