<h1><%=t('imagenes')%></h1>
<table>
<tr>
<th><%=t('imagen')%></th>
<th><%=t('piefoto')%></th>
<th><%=t('piefotofr')%></th>
<th></th>
<th></th>
</tr>
<%= render :partial => "imagens/imagen", :collection => @imagenes %>
</table>
<br/>
<%= link_to t('traductor'),traductor_url %>
