<div class="opciones_generales">
	<ul  >
		<% if current_user.tipo=='traductor'%>
					<%=render :partial=>"/shared/opcion_gestion", 
		:locals=>{:mensaje=>t('traductor'), :path_volver=>traductor_url} %>  

			<%else%>
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>sitio_path(@sitio)} %>         
		<%=render :partial=>"/shared/opcion_gestion", 
		:locals=>{:mensaje=>t('new')+' '+t('equipo'), :path_volver=>new_equipo_path(:id=>@sitio)} %>  
	<%end%>
		       
	</ul>
</div>
<!--Ayuda a la navegacion  , se puede extraer -->
<%if current_user.tipo=='traductor'%>
	<h4>
	
	<%=t('show')%> <%=link_to t('todos'),equipos_path(:modo=>'todos',:vista=>'gestion')%>, 
	     <%=link_to t('sintrad'),equipos_path(:modo=>'sintrad',:vista=>'gestion')%>, 
	  <%=link_to t('sinrevisar'),equipos_path(:modo=>'sinrevisar',:vista=>'gestion')%>.&nbsp;
	 <%=t('showing')+', '+t('equipos')%>
	<b>
	<%if params[:modo]=='sintrad'%>
	   <%=t('sintrad')%>
	<%elsif params[:modo]=='sinrevisar'%>
	  <%=t('sinrevisar')%>
	<%else%>
	 <%=t('todos')%>
	<%end%>
	</b>	
	</h4>
<%end%>
<!-- -------------------------------------- -->
 <table class="listado_registros">
 	   <%= render :partial => "/shared/cabecera_tabla_gestion", 
		:locals =>{ :n_columns=>6,:title=>t('equipos'), 
		:columns=>[t('nombreEquipo'), t('informacionEs'),t("informacionFr"), t("show"), t('edit'), t('destroy')]} %>
<%= render :partial => "equipos/equipo", :collection => @equipos %>
</table>

<div class="opciones_generales">
	<ul  >
		<% if current_user.tipo=='traductor'%>
					<%=render :partial=>"/shared/opcion_gestion", 
		:locals=>{:mensaje=>t('traductor'), :path_volver=>traductor_url} %>  

			<%else%>
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>sitio_path(@sitio)} %>         
		<%=render :partial=>"/shared/opcion_gestion", 
		:locals=>{:mensaje=>t('new')+' '+t('equipo'), :path_volver=>new_equipo_path(:id=>@sitio)} %>  
	<%end%>
		       
	</ul>
</div>

