<li><%= link_to t('presentacion'),equipe_presentacion_path(:id=>@equipo)%></li>
	<%if !@paginas.nil? && !@presentacion.nil?%>
    	<ul><%=render 'equipe/paginas'%></ul>
    <%end%>
<li><%= link_to t('actividades'),equipe_actividades_path(:id=>@equipo)%></li>
<%if !@paginas.nil? && !@red.nil?%>
    	<ul><%=render 'equipe/paginas'%></ul>
    <%end%>
<li><%= link_to t('agenda'),equipe_agenda_path(:id=>@equipo)%></li>
<li><%= link_to t('colaboradores'),equipe_colaboradores_path(:id=>@equipo)%></li>
<li><%= link_to t('contacto'),equipe_contacto_path(:id=>@equipo)%></li>
