<div class="detalle_gestion">
<h1><%=t('edit')+' '+t('usuario')%></h1>

<%= render 'form' %>
<div class="opciones_generales">
	<ul  >
		<%=render :partial=>"/shared/opcion_gestion", :locals=>{:mensaje=>t('Show'), :path_volver=> @usuario} %>         
<% if @usuario.tipo!='traductor'%> 
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>usuarios_path(:id=>@usuario.sitio)} %>   
<%else%>
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>usuarios_path(:tipo=>'traductor')} %>   

<%end%>

	</ul>
</div>


</div>