<h1><%=t('edit')+' '+t('usuario')%></h1>

<%= render 'form' %>

<%= link_to 'Show', @usuario %> |

<% if @usuario.tipo!='traductor'%> 
<%= link_to t('back'), usuarios_path(:id=>@usuario.sitio) %>
<%else%>
<%= link_to t('back'), usuarios_path(:tipo=>'traductor') %>
<%end%>

