<div class="detalle_gestion">
<p id="notice"><%= notice %></p>

<p>
  <b><%=t('nombre')%></b>
  <%= @usuario.nombre %>
</p>

<p>
  <b><%=t('email')%></b>
  <%= @usuario.email %>
</p>
<p>
 <b><%=t('idioma')%></b>
  <%= t(@usuario.idioma) %>
</p>
<% if @usuario.tipo=='traductor'%>
<p>
 <b><%=t('traduceA')%></b>
  <%=t(@usuario.traduceA) %>
</p>
<%end%>
<div class="opciones_generales">
	<ul  >
		<%=render :partial=>"/shared/opcion_gestion", :locals=>{:mensaje=>t('edit'), :path_volver=> edit_usuario_path(@usuario)} %>         
<% if @usuario.tipo=='traductor'%> 
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>usuarios_path(:tipo=>'traductor')} %>   
<%elsif @usuario.tipo=='admin'%>
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>usuarios_path(:tipo=>'admin')} %>   
<%else%>
		<%=render :partial=>"/shared/opcion_volver", :locals=>{:path_volver=>usuarios_path(:id=>@usuario.sitio)} %>   
<%end%>

	</ul>
</div>


</div>