<h1> <%=t('zadmin')%></h1>
<br/>
<h3><%=t('lasociacion') %></h3>
</ul>
<li><%= link_to t('lasociacion'), asociacion_path(:id=>@web) %> </li>
</ul>
<h3><%=t('lproyecto')%></h3>
</ul>
<li><%= link_to t('proyecto')+' '+t('jeunes'), jeunes_path(:id=>@web) %> </li>
<li><%= link_to t('proyecto')+' '+t('femmes'), femmes_path(:id=>@web) %> </li>

</ul>
<br/>
<h3><%=t('ltraductores')%></h3>
<%= link_to t('show')+' '+t('traductores'),usuarios_path(:tipo=>'traductor')%>


