<%= render :partial => "/shared/titulo",:locals => {:title => t('aportan')}%>



	<%if !@aportan.nil?%>
		<% @aportan.each do |colaborador| %>
			<%if spanish%>
				<h4>JOOOOE<%= colaborador.method(:nombre.to_s+local2).call %></h4>			
					<h4>QUUU<%= colaborador.url %></h4>
				<p><%= colaborador.infoEs %></p>
			<%else%>
				<h4><%= colaborador.nombreFr %></h4>
				<p><%=colaborador.infoFr %></p>
			<%end%>
			<% if colaborador.imagen_url.to_s != "" %>
				<%= image_tag colaborador.imagen_url.to_s %>
			<% end %>
		<%end%>
	<%end%>

<h2><%=t('noaportan')%></h2>
	<%if !@noaportan.nil?%>
		<% @noaportan.each do |colaboradorno| %>
			<%if spanish%>
				<h4><%= colaboradorno.nombreEs %></h4>
				<p><%= colaboradorno.infoEs %></p>
			<%else%>
				<h4><%= colaboradorno.nombreFr %></h4>
				<p><%=colaboradorno.infoFr %></p>
			<%end%>
			<% if colaboradorno.imagen_url.to_s != "" %>
				<%= image_tag colaboradorno.imagen_url.to_s %>
			<% end %>
		<%end%>
	<%end%>
