<h2><%=t('contacto')%></h2>
<%  if @contacto.nil?%>
	<p> Sin informacion de contacto</p>
<%else%>
	<% if spanish%> 
 		<p><%= @contacto.infoEs %></p>
	 <%else%>
 	<p><%= @contacto.infoFr %></p>
	 <%end%>
	 <p><%= t('email')%>&nbsp;<%=@contacto.email %></p>


<%end%>
