<% if params[:controller]=="asociation" %>
	<%if !@asociacion.nil? %>
	<ul id="menu">
		<%=render "asociation/presentaciones" %>  	
			<%=render "asociation/proyectos" %>  
		<li <%=menu_seleccionada 'colaborador'%>><%=link_to t('colaboradores'),asociation_colaborador_path%></li>
		
		<li <%=menu_seleccionada 'agenda'%>><%=link_to t('agenda'),asociation_agenda_path%></li>
		<li <%=menu_seleccionada 'contacto'%>><%=link_to t('contacto'),asociation_contacto_path%></li>
	</ul>
	<%end%>
<% end %>
	
