<!doctype html>  

<html lang="en" class="not-ready">

<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>QuartiersDumonde.org</title>

	<meta name="description" content="MooTools SlideShow, a highly extensible interface widget">
	<meta name="author" content="Ryan Florence">

	<meta name="viewport" content="width=900, initial-scale=1.0">

	<!-- link href='http://fonts.googleapis.com/css?family=Josefin+Slab:regular,bolditalic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css' -->
	
	<%
google_fonts="http://fonts.googleapis.com/css?family=Josefin+Slab:regular,bolditalic|Josefin+Sans|Love+Ya+Like+A+Sister|Gloria+Hallelujah|Cabin+Sketch:700|Sue+Ellen+Francisco|Nunito:400|Walter+Turncoat"
less="colors_index.less"
	
%>
<link href='<%=google_fonts%>' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet/less" type="text/css" href="/javascripts/<%=less%>">
	<%= javascript_include_tag('less-1.1.3.min') %>          

<!-- SlideShow and Dependencies (building with Packager is better!) -->
<script charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools-yui-compressed.js"></script>
<script charset="utf-8" src="https://github.com/rpflorence/Loop/raw/master/Source/Loop.js"></script>
<%= javascript_include_tag('SlideShow') %>

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->





</head>
    <body>

<section id=navigation class=demo>
	<div id=navigation-slideshow class=slideshow>
		<div id="lp01"><img   src="/images/letterpress/01.JPG"></div>
		<div id="lp02"><img   src="/images/letterpress/02.JPG"></div>
		<div id="lp03"><img   src="/images/letterpress/03.JPG"></div>
		<div id="lp04"><img   src="/images/letterpress/04.JPG"></div>
		<div id="lp05">HOLA</div>
		

		<ul>
			<li><a class=current href="#lp01" title="la home"><%=t('home')%></a></li>
			<li><a href="#lp02" title="la asociacion"><%=t('asociacion')%></a></li>
			<li><a href="#lp03" title="jeunes"><%=t('jeunes')%></a></li>
			<li><a href="#lp04" title="femmes"><%=t('femmes')%></a></li>
			<li><a href="#lp05" title="dfhdfgh">sdgfsdfg</a></li>
		</ul>
	</div>
	<div class=about>
		<h2>Navigation</h2>
		<div>

				
		<%=link_to t('jeunes'),jeunes_presentacion_path  %>
			
				<%=link_to t('femmes'),femmes_presentacion_path  %>
		</div>

		<ul>
			<li>On-the-fly <code>pushLeft</code> &amp; <code>pushRight</code> transitions</li>
			<li>

				<em>New</em> <code>slideshow.index</code> property</li>
			<li><em>New</em> <code>selector</code> option</li>
			<li>Use of <code>show(index)</code> method</li>
			<li>Use of <code>onShow</code> event</li>
		</ul>
		<a class=view-source href="js/navigation.js">View Source</a>
	</div>
</section>   


<footer>
	[ <a href="http://ryanflorence.com">by Ryan Florence</a> | <a href="http://twitter.com/ryanflorence">@ryanflorence</a> ]
</footer>







<!-- navigation demo dependencies -->
<script charset="utf-8" src="https://github.com/mootools/mootools-more/raw/master/Source/Interface/Tips.js"></script>
<!-- navigation demo -->
<script charset="utf-8" src="javascripts/navigation.js"></script>



<!-- css-transitions dependencies -->
<script charset="utf-8" src="https://github.com/rpflorence/CSSAnimation/raw/0.2.0/Source/CSSAnimation.js"></script>
<script charset="utf-8" src="https://github.com/rpflorence/CSSAnimation/raw/0.2.0/Source/CSSAnimation.MooTools.js"></script>
<script charset="utf-8" src="/javascripts/SlideShow.CSS.js"></script>

<!-- css-transitions -->




<!-- this site -->
<script charset="utf-8" src="/javascripts/site.js"></script>

 </body>
</html>
