
<!-- saved from url=(0069)http://dl.dropbox.com/u/8688858/qdm/asociacion/indexsAsociacion.html# -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
       		<meta http-equiv="X-UA-Compatible" content="IE=8">
 <title>home</title>
        
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
        <![endif]-->
       <%= stylesheet_link_tag('asociacion') %>
       <%= stylesheet_link_tag('drop-down-menu') %>
       <%= stylesheet_link_tag('screen') %>     
  <%= stylesheet_link_tag('jquery.lightbox-0.5') %>
    <!-- script type="text/javascript" src="js/jquery.lightbox-0.5.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.5.css" media="screen" / -->

       <%= stylesheet_link_tag('supersized') %>
       <%= javascript_include_tag('jquery.min') %>       
       <%= javascript_include_tag('menu') %>
       <%= javascript_include_tag('supersized.3.1.3.min') %>

        
              <%= javascript_include_tag('jquery.lightbox-0.5.pack') %>
		<%=render "/layouts/morejs" %>

		
		

		
    </head><style type="text/css">embed[type*="application/x-shockwave-flash"],embed[src*=".swf"],object[type*="application/x-shockwave-flash"],object[codetype*="application/x-shockwave-flash"],object[src*=".swf"],object[codebase*="swflash.cab"],object[classid*="D27CDB6E-AE6D-11cf-96B8-444553540000"],object[classid*="d27cdb6e-ae6d-11cf-96b8-444553540000"],object[classid*="D27CDB6E-AE6D-11cf-96B8-444553540000"]{	display: none !important;}</style>
    <body>

	<div id="capa_t" class="transparent" style="background-color:white;position:absolute; top:0px; left:0px;   width:100%; text-align:left; z-index:-1; ">
		<p>&nbsp;</p>
	</div>

        <div class="container ">
            <div class="span-24 append-bottom" >

                <div class="span-18 " >
                <hr class="space">
		<div class="prepend-1  idioma">
                        <span class="<%=comprueba "fr"%>"><%= link_to t('fr'), root_path( :locale => 'fr' ), :class=> comprueba ('fr') %></span>
                        <br>
                        <span class="<%=comprueba "es"%>"><%= link_to t('es'), root_path( :locale => 'es' ),
 :class=> comprueba ('es') %></span>
                    </div>
<!--
                    <div class="prepend-1 bottom">
                        <form name="buscador">
                            <input type="text" name="busqueda" value="" size="10"><a href="javascript:document.forms['buscador'].submit();"><img valign="bottom" src="images/btn-search.gif" width="18" height="18" alt="" border="0"></a>
                        </form>
                    </div>
		-->
                    <hr class="space"><hr class="space"><hr class="space">                    <hr class="space"><hr class="space"><hr class="space">
<div class="menu_superior " >

		<ul id="menu">
			<li>
			<a href="#">presentación</a>
			</li>
			<li>
			<a href="#">¿quiénes somos?</a>
			</li>
			<li>
			<a href="#">socios</a>
			</li>
			<li class="seleccionado">
			<a href="#">proyectos</a>
<ul>
			<li><a href="#BARRIOS" title="Older projects">QDM-BARRIOS</a>
		<!--
				<ul>
					<li><a href="#" title="2003 projects">2003 projects</a></li>
					<li><a href="#" title="2004 projects">2004 projects</a></li>
					<li><a href="#" title="2005 projects">2005 projects</a></li>
				</ul>
		-->
			</li>
			<li><a href="#MUJER" title="Active projects">QDM-MUJER</a></li>
		</ul>

			</li>
			<li>
			<a href="#">contacto</a>
			</li>
			<li>
			<a href="#">agenda</a>
			</li>
		</ul>
</div>
                </div>
                <div class="span-5 append-1 last " style="text-align:right;" >
                    <img src="imgs_asociacion/logo.png" alt="logo_qdm_a.gif" >
                </div>
                
            </div>
		 <div class="span-24">
		<hr class="space"/>
		</div>
            <div class="span-24">
                <div class="span-1">&nbsp;</div>
                <div class="span-18  contenido_central ">
                    <div class="titulo ">
			<span >
                        Présentation
			<span>
                    </div>
                    <div class="ficha ">
<div class="modulo_ficha">

                        <div class="titulo  ">
				<span>
                            Encourager une gouvernance participative et une citoyenneté affirmée au Sud et au Nord
				</span>	
                            <br>
                        </div>
			<div class="texto ">
<a href="imgs/ej04zoom.jpg" class="lightbox" title="Encourager une gouvernance participative et une citoyenneté affirmée au Sud et au Nord">
                        <img src="imgs/ej04mini.jpg"  class="image left " >
</a>
                        Pour cela, Quartiers du Monde contribue à la construction d'espaces de dialogue et de réflexion avec la population et les autorités locales de différents quartiers pour chercher ensemble des alternatives de changement.
			</div>
                        <br>
			</div>
                        <div style="clear: both;">
                        </div>
<div class="modulo_ficha">
                        <div class="titulo ">
                           				<span> Que fait-on ?</span>
                        </div>
<div class="texto ">
<a href="imgs/ej03zoom.jpg" class="lightbox" title="Que fait-on ?">
                        <img src="imgs/ej03mini.jpg" alt="mini_imagen_ejemplo2.jpg" class="image left" >
</a>
<ul >
<li>
Animer un réseau Nord-Sud 
</li>
<li>
Proposer des formations méthodologiques 
</li>
<li>
Réaliser le suivi et l’évaluation de projets sociaux  
</li>
<li>
Faciliter la réflexion de groupes d’habitants pour construire la participation dans leur quartier 
</li>
                          
                        
                        
</ul>
</div>
</div>
                        <div style="clear: both;"></div>
<div class="modulo_ficha">
                            <div class="titulo ">
                               <span> Documentation</span>
                            </div>
                            <div class="documentacion seleccionado">
                                <ul>
                                    <li class="pdf">
                                        Rapport des activités de l'association en 2005
                                    </li>
                                    <li class="txt">
                                        Rapport des activités de l'association en 2006
                                    </li>
                                    <li class="doc">
                                        Rapport des activités de l'association en 2007
                                    </li>
                                    <li class="mov">
                                        Rapport des activités de l'association en 2008
                                    </li>
                                    <li class="rtf">
                                        Rapport des activités de l'association en 2009
                                    </li>
                                </ul>
                            </div>
                        </div>
</div>
                    
                </div>
                <div class="span-24 append-bottom">
                    <hr class="space">
                    <div class="span-6 prepend-1 append-9">
                    	<div class="copy">
                        <span class="seleccionado">©</span> QuartierDuMonde
						</div>
                    </div>
                    <div class="span-5">
                    </div>
                    <div class="span-3 last">
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
