<html>
		<%=render :file => "/layouts/_head.html.erb", :locals => {
:google_fonts=>"http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Gloria+Hallelujah|Cabin+Sketch:700|Sue+Ellen+Francisco|Nunito:400|Walter+Turncoat",
:less=>"colors_jeunes.less"
} %>

    <body>
    	<div id="loading">&nbsp;</div>

	<div id="capa_t" class="transparent" style="background-color:white;position:absolute; top:0px; left:0px;   width:100%; text-align:left; z-index:-1; border-bottom: solid 1px black; ">
		<p>&nbsp;</p>
	</div>

        <div class="container ">
            <div class="span-24 append-bottom" >

                <div class="span-24 " >
                	<div style="font-size:2.5em;float:left;font-family:'Patua One';">
                <span style="line-height:0.6; "><%=@equipo.nombre %></span>
                <span style="font-size:0.5em;"> <%=t('qdm') %> - <%=t('qdmsubtitle')%></span>
				</div>

				<%=render  "/shared/menu_idioma"%>

<div class="menu_superior " >

<%=render "/layouts/menu" %>

</div>
                </div>
                <!-- div class="span-5 append-1 last " style="text-align:right;" >
                    <img src="/imgs_asociacion/logo.png" alt="logo_qdm_a.gif" >
                </div -->
                
            </div>
		 <div class="span-24">
		<hr class="space"/>
		</div>
            <div class="span-24">
				 <div class="<%=dame_class_izq %> " id="nav_paginas">
				 	<%=yield :menu_izq%>
				</div>
				
                <div class="<%= dame_class_central%> ">
                    <%= yield %>
                </div>
                <div class="<%= dame_class_dcha%> ">
                    <%= yield :menu_dcha %>
                </div>

            </div>
				
				  <div class="span-24" >
	            <div class="prepend-4 last">
				<%=render "/layouts/menu_inferior"%>
	            </div>
            </div>
				
                <div class="span-24 append-bottom">
                    <hr class="space">
                    <div class="span-6 prepend-1 append-9">
                    	<div class="copy">
                        <span class="seleccionado">©</span> QuartierDuMonde
						</div>
                    </div>
                    <div class="span-5">
                    </div>
                    <div class="span-3 last">
                    </div>
                </div>
            </div>
        </div>
		<div id="supersized"></div>

    </body>
</html>
