<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <%= stylesheet_link_tag('yellow') %>
  <%= csrf_meta_tag %>
<title>Quartiers beta 0.7</title>
</head>
<body>

<div id="wrap">


<div id="header">
<h1><%=link_to 'Quartiers du monde',root_path%></h1>
<h2><%=t('description')%></h2>
</div>

<div id="contentwrap"> 

<div id="content">

    <%= yield %>

</div>

<div id="sidebar">

<h3><%=t('lasociacion')%> </h3>
<ul>
	<li><%=link_to t('lasociacion'),asociation_presentacion_path  %></li>
	<%if !@asociacion.nil? %>
	<ul>
		<li><%=link_to t('presentacion'),asociation_presentacion_path  %></li>
    		<%if !@paginas.nil? && !@presentacion.nil?%>
    			<ul><%=render 'asociation/paginas'%></ul>
    		<%end%>
		<li><%=link_to t('proyectos'),asociation_proyectos_path  %></li>
		<%if !@paginas.nil? && !@red.nil?%>
			<ul><%=render 'asociation/paginas'%></ul>
		<%end%>
		<li><%=link_to t('colaboradores'),asociation_colaborador_path%></li>
		<li><%=link_to t('agenda'),asociation_agenda_path%></li>
		<li><%=link_to t('contacto'),asociation_contacto_path%></li>
	</ul>
	<%end%>
</li></ul>
</li></ul>
<h3><%=t('jeunes')%></h3>
<ul>
	<li><%=link_to t('jeunes'),jeunes_presentacion_path  %></li>
	<%if !@jeunes.nil? %>
	<ul>
		<li><%=link_to t('presentacion'),jeunes_presentacion_path  %></li>
    		<%if !@paginas.nil? && !@presentacion.nil?%>
    			<ul><%=render 'jeunes/paginas'%></ul>
    		<%end%>
		<li><%=link_to t('proyectos'),jeunes_proyectos_path  %></li>
		<%if !@paginas.nil? && !@red.nil?%>
			<ul><%=render 'jeunes/paginas'%></ul>
		<%end%>
		<li><%=link_to t('lequipos'),jeunes_equipos_path %></li>
		    <%if !@equipo.nil? %>
		    	<ul><%= link_to @equipo.nombre,equipe_sitio_path(:id=>@equipo)%>
		    	<ul><%=render 'equipe/opciones'%></ul>
		        </ul>
		    <%end%>
		<li><%=link_to t('colaboradores'),jeunes_colaborador_path%></li>
		<li><%=link_to t('agenda'),jeunes_agenda_path%></li>
		<li><%=link_to t('contacto'),jeunes_contacto_path%></li>
	</ul>
	<%end%>
</li></ul>
<h3><%=t('femmes')%></h3>
<ul>
	<li><%=link_to t('femmes'),femmes_presentacion_path  %></li>
	<%if !@femmes.nil? %>
	<ul>
		<li><%=link_to t('presentacion'),femmes_presentacion_path  %></li>
    		<%if !@paginas.nil? && !@presentacion.nil?%>
    			<ul><%=render 'femmes/paginas'%></ul>
    		<%end%>
		<li><%=link_to t('proyectos'),femmes_proyectos_path  %></li>
		<%if !@paginas.nil? && !@red.nil?%>
			<ul><%=render 'femmes/paginas'%></ul>
		<%end%>
			<li><%=link_to t('lequipos'),femmes_equipos_path %></li>
		    <%if !@equipo.nil? %>
		    	<ul><%= link_to @equipo.nombre,equipe_presentacion_path%>
		    	<ul><%=render 'equipe/opciones'%></ul>
		        </ul>
		    <%end%>
		<li><%=link_to t('colaboradores'),femmes_colaborador_path%></li>
		<li><%=link_to t('agenda'),femmes_agenda_path%></li>
		<li><%=link_to t('contacto'),femmes_contacto_path%></li>
	</ul>
	<%end%>
</li></ul>

<h3>Idiomas</h3>
<ul>
<li><%= link_to t('es'), idioma_spanish_path( :url=>request.url )  %></li>
<li><%= link_to t('fr'), idioma_french_path( :url=>request.url ) %></li>
<br/>

</ul>

</div>

<div style="clear: both;"> </div>

</div>

<div id="footer">
<p>&copy; Quartiers du monde 2011</p>
</div>

<div id="bottom"> </div>
</div>

</body>
</html>
